<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statboard</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1>Statboard</h1>
    </div>

    <div class="container">
        <div class="card">
            <h2>Total broken scooters</h2>
            <p th:text="${sum_broken}">20</p>
        </div>
        <div class="card">
            <h2>Total fixed scooters</h2>
            <p th:text="${sum_fixed}">10</p>
        </div>
    </div>
</body>
</html>